# Dependencies
node_modules/

# Environment files
.env
.env.*

# Build files
dist/
build/

# Uploads
uploads/

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage/

# Cache
.cache/
.parcel-cache/
.vite/

# OS / Editor files
.DS_Store
.vscode/